<h1>Let's fix up this goal.</h1>

<% @goal.amounts.each do |amount| %>
	<p>
		<strong><%= amount.points %> Points: </strong>
		<%= amount.goal_amount %> of <%= @goal.title %>
		<%= link_to 'Edit', edit_goal_path(@goal) %>
	</p>
<% end %>

<%= link_to 'Back', welcome_index_path %>