<h1>Listing Goals</h1>
<%= link_to 'New Goal', new_goal_path %>
<table>
	<tr>
		<th>Goal:</th>
	</tr>

	<%= @goals.each do |goal| %>
		<tr>
			<td><%= goal.title %></td>
			<td><%= link_to 'Show', goal_path(goal) %></td>
			<td><%= link_to 'Edit', edit_goal_path(goal) %></td>
		</tr>
	<% end %>
</table>