<p>
	<strong>Title:</strong>
	<%= @goal.title %>
</p>

<strong>Amounts</strong>
<% @goal.amounts.each do |amount| %>
	<p>
		<strong>Amount:</strong>
		<%= amount.goal_amount %>
	</p>
	<p>
		<strong>Points:</strong>
		<%= amount.points %>
<% end %>

<strong>Add goal amount</strong>
<%= form_for([@goal, @goal.amounts.build]) do |f| %>
	<p>
		<%= f.label :goal_amount %><br>
		<%= f.text_field :goal_amount %>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to 'Edit', edit_goal_path(@goal) %> | 
<%= link_to 'Back', welcome_index_path %>