<h1>Let's check out this goal.</h1>

<% @goal.amounts.each do |amount| %>
	<p>
		<strong><%= amount.points %> Points: </strong>
		<%= amount.goal_amount %> of <%= @goal.title %>
	</p>
<% end %>

<strong>Add goal amount</strong>
<%= form_for([@goal, @goal.amounts.build]) do |f| %>
	<p>
		<%= f.label :goal_amount %><br>
		<%= f.text_field :goal_amount %>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to 'Edit', edit_goal_path(@goal) %> | 
<%= link_to 'Back', welcome_index_path %>